.anovatab2 td,th {
  padding: 0 .5em 0 .5em;
  white-space: nowrap;
}

.anovatab2 td:nth-child(2),
           td:nth-child(4),
           td:nth-child(6){
  background: #eee;
}


.anovatab2 {
  margin: 20px;
}